.carousel-item{
    width: 100%;
    height: 380px;
}


/* KEYPOINTS FOR CAROUSEL BUTTON */

.c-item{
    height: 450px;

}
.c-img{
    height: 100%;
    object-fit: cover;
    filter: brightness(1);
}
.carousel-caption{
    position: absolute;
    left: 0;
}