<div class="container mt-4">

    <div class="feat bg-gray pt-5 pb-5">
        <div class="container">
            <div class="row">
                <div class="section-head col-sm-12">
                    <h1>{{mainHeading}}</h1>
                    <!-- <h1>Why<span style="color: rgb(255, 0, 230);"> Choose</span> Us?</h1> -->
                    <p>When you choose us, you'll feel the benefit of 10 years' experience of Pathology Lab. Because
                        we know the digital world and we know that how to handle it. With working knowledge of online,
                        SEO and social media.</p>
                </div>

                <div class="col-lg-4 col-sm-6" *ngFor="let data of chooseUs">
                    <div class="item">
                        <span class="icon feature_box_col_one"><img [src]="data.imgUrl" alt=""
                                style="width: 70px; height: 70px; border-radius: 50%;"></span>
                        <h6>{{data.heading}}</h6>
                        <p>{{data.description}}</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>