<div class="card text-white ">
    <img class="img-fluid" src="assets/about.jpg" class="card-img" alt="About Us" height="220" width="auto">
    <div class="card-img-overlay">
        <h5 class="h5 card-title mt-5"> <span style="color: rgb(255, 0, 230);">About</span> Us</h5>
    </div>
</div>

<!-- About Lab -->
<div class="col mt-5 p-5">
    <p class="about-text">
        Book a blood test or expert health check-up packages online with Patel Healthcare - one of the leading
        diagnostic service provider in India. Get quality reports trusted by leading doctors and hospitals from our NABL
        and CAP certified labs of Patel.

        One can either visit our nearest Patel lab to give your blood sample or opt for blood collection at home
        service, so that you can get all the benefits of diagnostic centre and pathology labs in the comfort of your
        home.

        With a certified team of 200 senior pathologists and over 2000 technicians we, provide diagnostic services
        ranging from routine to semi speciality tests like oncology, neurology, gynaecology, nephrology to complete
        health check-up packages for Men, Women, Senior Citizens, Youth & Corporates.
    </p>
</div>

<!-- About Managing Director -->
<div class="container-xxl">
    <div class="row p-3">
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <img src="assets/Our_Team/Dr. SRKP.jpg" class="img-fluid doctorImage " alt="profile image">
            <p class="doctorName mb-1"> <strong>Dr. Surendra Kumar Patel</strong></p>
            <p class="doctorDesignation ">(Managing Director)</p>
            <p class="md-desc"><i><b>
                        As one of the country’s leading diagnostic companies, MHL
                        continues building and nurturing its talent. Several employee training and
                        development initiatives are often undertaken. This helps incorporate
                        integrity as a core ingredient of the Company’s work culture.
                    </b></i></p>
        </div>
        <div class="col-sm-5 offset-sm-1">
            <h2>MD’s Message</h2>
            <p class="text-justify">To begin with, I would like to bring your attention to
                an Indicator that I have been passionate and relentless about. I am happy to
                share with you that in FY19, our Net Promoter Score has been on average at
                85, which means that 85% of our customers are willing to recommend
                Patel to their family and network. Our Chairman in his note has
                emphasized on Patel’ core vision of putting the patients first and our
                customer loyalty score is an outcome of this vision.</p>

            <p class="text-justify"><strong>Going closer to the patient</strong><br>
                FY19 has ended on a positive note for us as the company delivered faster
                than industry growth. We are positive on the short and medium term growth
                for Patel owing to fast paced network expansion, relentless execution,
                strong brand and customer first philosophy.
            </p>

            <p class="text-justify"><strong>The Patel Family</strong><br>
                Our people are at the core of everything we do. Our highly experienced
                leadership team leads day to day business and operations. Patel’ strong
                scientific and technical team of over 2000 members is led by a team of 200
                doctors and pathologists. Our phlebotomists and home service technicians are
                best in class, highly skilled and trained to collect samples in a single
                prick and are efficient in drawing samples from infants, small children and
                the elderly. We will make continuous efforts to progress on diversity and
                inclusion as we move forward.
            </p>
            <p class="regrads-p">
                Yours truly,<br><b>Surendra Kumar</b><br>Managing Director
            </p>
        </div>
    </div>
</div>

<!-- Our Mission & Target -->
<div class="row m-5 mt-4">

    <div class="col m-2">
        <h2 class="text-center">Our Mission</h2>
        <p>To be the undisputed market leader by providing accessible, affordable, timely and quality healthcare
            diagnostics, applying insights and cutting edge technology to create value for all stakeholders.</p>
    </div>

    <div class="col m-2">
        <h2 class="text-center">Our Vision</h2>
        <p>Be the most trusted healthcare partner, enabling healthier lives.</p>
    </div>
</div>


<!-- Our Team List -->
<h1 class="mt-5 ps-5 text-center">Our Team</h1>


<div class="container-xxl mt-3">
    <div class="row">
        <div class="col-md-3 g-2" *ngFor="let doctor of ourTeam">
            <div class="card ms-3">
                <img [src]="doctor.doctorImage" class="card-img-top" alt="..." height="300">
                <div class="card-body">
                    <h5 class="card-title">{{doctor.doctorName}}</h5>
                    <p class="card-text">{{doctor.doctorAbout}}</p>
                </div>
            </div>
        </div>
    </div>
</div>