
<p class="h1 m-5"><u>Services</u></p> 

<div class="container mt-5 p-5">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Medical Store</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Home Blood Collection</h5>
                    <p class="card-text">This is a short card.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Online Reporting</h5>
                    <p class="card-text">We Provide Online Reporting System, You Can Download Your Report by Your Phone
                        or PC via Your Mail.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Doctor's Suggestion</h5>
                    <p class="card-text">
                        Allahabad Diagnostics launching Soon a very dedicated "MEDICAL STORE" Where you all can get any
                        kind of medicine in very affordable prices.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">X-Ray Center</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">OPD Facility Available</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Wellness Solutions</h5>
                    <p class="card-text"> We offer pre-employment check-ups, employee health plans, and annual check-ups
                        for corporates to build a healthy workforce. Metropolis’ Executive Health Check-up Program can
                        be personalised to suit the organizational and employee needs.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100">
                <img src="assets/Carousel-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nutrition & Dietition</h5>
                    <p class="card-text">This is a longer card with supporting text below as a natural lead-in to
                        additional
                        content. This content is a little bit longer.</p>
                </div>
            </div>
        </div>
    </div>
</div>