<app-carousel></app-carousel>


<div class="container-fluid package mt-5">

    <h1 class="h1 ms-4">Our Best <span style="color: rgb(255, 0, 230);">Packages</span></h1>
    <p class="m-3">Choose from our wide range of TruHealth Package and Health Checkups</p>
    <!-- <div class="bton">
    <button routerLink="/package" class="btn btn-info p-2 m-1" >View More</button>

</div> -->
    <div id="carouselExampleControls" class="carousel slide p-4 mt-4 " data-bs-ride="carousel">
        <div class="carousel-inner mb-4">
            <div class="carousel-item active">
                <div class="row ">

                    <div class="card-group">
                        <div class="card">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">

                            <div class="card-body ">
                                <h5 class="card-title">Calcium Test</h5>
                                <hr>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <p class="mt-3">Rs. 230</p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card d-none d-sm-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">

                            <div class="card-body">
                                <h5 class="card-title">CBC (Complete Blood Count) Test</h5>
                                <hr>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <h5>Rs. <span>150</span></h5>
                                <a href="#" class="btn btn-primary mt-5">View More</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Creatinine Serum Test</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card  d-none d-md-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">C-Reactive Protein</h5>
                                <p class="card-text">
                                    Some quick example text to build on the card title and make up the
                                    bulk of the card's content.</p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <div class="row ">
                    <div class="card-group  d-flex justify-content-center align-items-center">
                        <div class="card ">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title ">Fasting Blood Sugar</h5>
                                <p class="card-text">
                                    Blood sugar fasting test measures blood sugar after an overnight
                                    fast (not eating).
                                    <!-- Blood glucose (sugar) is derived from food and it is the main source of energy. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card d-none d-sm-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">HbA1C- Glycated Haemoglobin</h5>
                                <p class="card-text">
                                    HbA1c or glycated haemoglobin is a blood test that reflect blood glucose levels in
                                    last three months.
                                    <!-- It is useful for diagnosis and management of diabetes and prediabetes. -->
                                    <!-- This test does not require fasting and is not affected by meals
                                    consumed immediately before the test (less prone to variation). -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Renal (Kidney) Function Tests</h5>
                                <p class="card-text">
                                    Renal function tests (RFT) are done on urine and patient blood to
                                    establish how well the kidneys are working.
                                    <!-- They aid in the diagnosis and management
                                    of conditions affecting kidneys. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card  d-none d-md-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Thyroid panel-1 (T3/T4/TSH) -600</h5>
                                <p class="card-text">
                                    The Thyroid Panel-1 is a series of blood tests. These can be used
                                    to assess thyroid gland function and identify thyroid diseases.
                                    <!-- These tests count the number of thyroid hormones present in the blood. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="carousel-item">
                <div class="row ">

                    <div class="card-group  d-flex justify-content-center align-items-center">
                        <div class="card ">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body ">
                                <h5 class="card-title ">Urea Test - Serum 230</h5>
                                <p class="card-text">
                                    The urea test is a common blood test that is often used to assess
                                    kidney function.
                                    <!-- High levels of urea nitrogen in the blood can be a sign of kidney
                                    disease. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card d-none d-sm-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Uric Acid Serum 250</h5>
                                <p class="card-text">
                                    A uric acid test is a diagnostic test that measures the amounts of
                                    uric acid in the blood.
                                    <!-- A simple blood test is used to determine uric acid levels. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card d-none d-md-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin B12 Cyanocobalamin 1200</h5>
                                <p class="card-text">
                                    Vitamin B 12 test meashures Vitamin B12 in the blood of the
                                    patient.
                                    <!-- Vegetarians are at risk of deficiency of Vitamin B12 as there are no plant
                                    sources of Vitamin B12. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                        <div class="card  d-none d-md-block">
                            <img src="assets/Services/Medical-store.jpg" class="card-img-top " alt="...">
                            <div class="card-body">
                                <h5 class="card-title">Vitamin D Total-25 Hydroxy Plasma/ Serum</h5>
                                <p class="card-text">
                                    The ideal test to check vitamin D levels is the 25-hydroxy vitamin
                                    D test.
                                    <!-- The concentration of 25-hydroxyvitamin D in the blood is a reliable
                                    indicator of vitamin D levels in your body. -->
                                </p>
                                <a href="#" class="btn btn-primary">View More</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button class="carousel-control-prev text-dark " type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="prev"  style="margin-right: 100px; border: 2px solid red; width: 50px;">
            <span class="carousel-control-prev-icon bg-info" aria-hidden="true" style="border-radius: 50%;"></span>
            <span class="visually-hidden ">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
            data-bs-slide="next"  style="margin-left: 100px; border: 2px solid red; width: 50px;">
            <span class="carousel-control-next-icon bg-info" aria-hidden="true" style="border-radius: 50%;"></span>
            <span class="visually-hidden">Next</span>
        </button>

    </div>
</div>


<!-- Why Choose Us Section -->
<app-why-choose-us></app-why-choose-us>

<!-- What Our Customers Say -->

<div class="container customer mt-4">
    <!-- <app-customers-say></app-customers-say> -->
    <h1 class="text-center">What Our <span style="color: rgb(255, 0, 230);">Customers</span> Say </h1>

    <!-- <div class="border"></div> -->

    <div class="wrapper">
        <div class="review-card">
            <div class="header-content">
                <div class="img-area">
                    <img alt="customer1" src="assets/customers-say/dev.jpg">
                </div>
                <div class="info">
                    <h4>Dev Patel</h4>
                    <p>Graphics Expert</p>

                </div>
            </div>
            <div class="single-review">
                <p>
                    Very good staff, excellent execution of samples, timely results even before promised time.
                </p>
            </div>
            <div class="review-footer">
                <div class="rating">
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="">★</span>
                    <span class="">★</span>
                </div>
            </div>
        </div>
        <div class="review-card">
            <div class="header-content">
                <div class="img-area">
                    <img alt="customer1" src="assets/customers-say/dev.jpg">
                </div>
                <div class="info">
                    <h4>Mark Wood</h4>
                    <p>Graphics Expert</p>
                </div>
            </div>
            <div class="single-review">
                <p>
                    The services were highly affordable and convenient.
                </p>
            </div>
            <div class="review-footer">
                <div class="rating">
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="">★</span>
                </div>
                <!-- <p>Reviewed on 01/02/2023</p> -->
            </div>
        </div>
        <div class="review-card">
            <div class="header-content">
                <div class="img-area">
                    <img alt="customer1" src="assets/customers-say/dev.jpg">
                </div>
                <div class="info">
                    <h4>Jason Chedd</h4>
                    <p>Web Designer</p>
                </div>
            </div>
            <div class="single-review">
                <p>
                    The Home Service was excellent. Medical Technician took samples at 7:00am and returned at 9:30
                    after breakfast to take further samples.
                </p>
            </div>
            <div class="review-footer">
                <div class="rating">
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                </div>
                <!-- <p>Reviewed on 01/03/2023</p> -->
            </div>
        </div>
        <div class="review-card">
            <div class="header-content">
                <div class="img-area">
                    <img alt="customer1" src="assets/customers-say/dev.jpg">
                </div>
                <div class="info">
                    <h4>Jason Chedd</h4>
                    <p>Web Designer</p>
                </div>
            </div>
            <div class="single-review">
                <p>
                    the staff they are very professional and friendly
                    definitely I
                    will recommend my friends and family to patel lab.
                </p>
            </div>
            <div class="review-footer">
                <div class="rating">
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                    <span class="active">★</span>
                </div>
            </div>
        </div>
        <button class="btn btn-info p-2 fs-3" routerLink="/customers-say">Know More</button>
    </div>
</div>

<!-- About Section -->

<div class="container-xxl about">
    <div class="row mt-5">
        <div class="col-lg-6 mb-5">
            <img class="img-fluid" alt="customer1" src="assets/Images/Images-6.jpg" height="350">

        </div>
        <div class="col-lg-6">
            <h4 style="color: rgb(255, 0, 251);">About Us</h4>

            <p>
                Book a blood test or expert health check-up packages online with Patel Healthcare - one of the
                leading
                diagnostic service provider in India. Get quality reports trusted by leading doctors and hospitals
                from our NABL
                and CAP certified labs of Patel.


                One can either visit our nearest Patel lab to give your blood sample or opt for blood collection at
                home
                service, so that you can get all the benefits of diagnostic centre and pathology labs in the comfort
                of your
                home.

                With a certified team of 200 senior pathologists and over 2000 technicians we, provide diagnostic
                services
                ranging from routine to semi speciality tests like oncology, neurology, gynaecology, nephrology to
                complete
                health check-up packages for Men, Women, Senior Citizens, Youth & <a routerLink="/about"
                    style="font-size: 20px; text-decoration: none; color:  rgb(255, 0, 251);"> view
                    more...</a>
            </p>
        </div>
    </div>
</div>